body,
html {
    height: 100%;
    background-color: #e5dcc3; 
    color: #333d29; 
    font-family: 'Arial', sans-serif;
}

  .header-logo {
            position: absolute;
            right: 20px;
            top: 3.5%;
            transform: translateY(-10%);
            height: 60px;
            width: auto;
            filter: brightness(100%);
        }


header {
    text-align: center;
    background-color: #333d29; /* Primary dark header */
    color: #b6ad90; /* Creme text */
    padding-block: 10px;
    font-weight: 600;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
}

.prof-img-left {
    z-index: 10000;
    float: left;
    border-radius: 50%;
    width: 300px;
    transform: translateY(calc(-10vh + 10%));
    height: 400px;
}

.prof-img-right {
    z-index: 10000;
    float: right;
    border-radius: 50%;
    width: 300px;
    transform: translateY(calc(-10vh + 10%));
    height: 400px;
}




.section-right {
    z-index: 1000;
    display: flexbox;
    padding-right: 2%;
    text-align: right;
    background-color: rgba(64, 93, 74, 0.5);
    padding-left: calc(10% + 150px);
    padding-block: 10px;
    padding-bottom: 20px;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
 
}

.section-left {
    z-index: 1000;
    display: flexbox;
    padding-left: 2%;
    text-align: left;
    background-color: rgba(64, 93, 74, 0.5);
    padding-right: calc(10% + 150px);
    padding-block: 10px;
    padding-bottom: 20px;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 30%; 
}



footer {
    display: flex;
    justify-content: space-around;
    background-color: #b6ad90; 
    color: #333d29;
    padding-block: 10px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
    margin-top: auto; 
}

.parallax {
    background-image: url(imgs/background.jpg);

    height: 100%;

    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 100%;
}