body,
html {
    height: 100%;
    background-color: #e5dcc3;
    /* Neutral creme base for main background */
    color: #333d29;
    /* Primary dark text */
    font-family: 'Arial', sans-serif;
}

header {
    text-align: center;
    background-color: #333d29;
    /* Primary dark header */
    color: #b6ad90;
    /* Creme text */
    padding-block: 10px;
    font-weight: 600;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
}

  .header-logo {
            position: absolute;
            right: 20px;
            top: 3.5%;
            transform: translateY(-10%);
            height: 60px;
            width: auto;
            filter: brightness(100%);
        }

.product-frame {
    max-width: 350px;
    margin: 30px auto;
    border: 10px solid #b6ad90;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    text-align: center;
}

figure {
    margin: 0;
    display: flex;
}

figcaption {
    margin-top: 8px;
    font-size: 1rem;
    font-weight: bold;
}

#product-img {
    width: 130%;
    max-height: 280px;
    object-fit: cover;
    border-radius: 4px;
}

.product-description {
    font-size: 0.9rem;
    margin: 10px 0;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #405d4a;
}

.display-formatting {
    max-width: 400px;
    margin: 30px auto;
    padding: 3% 10% 3% 10%;
    border-radius: 8px;
    border: 10px solid #b6ad90;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    display: flex;
    gap: 15px;
}

form fieldset {
    border: 1px solid #000000;
    padding-block: 10%;
    border-radius: 6px;
}

form legend {
    font-weight: bold;
    padding-block: 10%;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="email"],
input[type="password"],
input[type="number"],
select {
    width: 100%;
    padding: 10px 10% 10px 10%;
    border-radius: 4px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-bottom: 12px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 6px;
}

button[type="submit"] {
    padding: 12px;
    border: none;
    background-color: #405d4a;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #324236;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #b6ad90;
    /* Neutral creme */
    color: #333d29;
    /* Primary dark text */
    padding-block: 10px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
    margin-top: auto;
    /* sticks naturally if page is short */
}

.parallax {
    background-image: url(imgs/background.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
}