body,
html {
    height: 100%;
    background-color: #e5dcc3; 
    color: #333d29; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 2vh;
}

.header-logo {
    position: absolute;
    right: 2vw;
    top: 3.5%;
    transform: translateY(-10%);
    height: 8vh;
    width: auto;
    filter: brightness(100%);
}

header {
    text-align: center;
    background-color: #333d29; 
    color: #b6ad90;
    padding: 1.5vh 2vw;
    font-weight: 600;
    font-size: 2.5vh;
    box-shadow: 0 0.3vh 1.2vh rgba(0, 0, 0, 0.5);
}

.cart-icon {
    display: flex;
    align-items: left;
    float: left;
    width: 7.5vw;
    height: 7.5vh;
    padding: 0 1.5vw;
    margin-left: -9.75%;
    vertical-align: middle;
}

#CartLogo {
    margin-left: 2.5%;
    font-size: 4vh;
    padding-left: 6%;
    margin-bottom: -0.05%;
    vertical-align: middle;
    color: #333d29;
}

.order-section {
    font-size: 2.2vh;
    text-align: left;
    padding: 2vh 2.5vw;
    background-color: #c2c5aa; 
    margin: 1.5vh 2vw;
    border: 0.2vw solid #333d29; 
    border-radius: 1vw;
    color: #333d29;
}

.order-section h4 {
    margin-left: -1%;
    padding: 1vh 2vw;
    background-color: #7f4f24; 
    color: #b6ad90; 
    margin: 1.5vh 0;
    border: 0.2vw solid #333d29;
    border-radius: 1vw;
    font-size: 2.4vh;
}

.button {
    display: block;
    width: 100%;
    margin-top: 2.5vh;
    padding: 1.5vh 2vw;
    background: #7f4f24; 
    color: #b6ad90; 
    border: none;
    border-radius: 0.8vw;
    font-weight: 700;
    font-size: 2vh;
    transition: background 0.2s ease;
}

.button:hover {
    background-color: #6a3f1d;
    cursor: pointer;
}

.button:active {
    background-color: #56321a; 
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vw;
    background-color: #b6ad90; 
    color: #333d29; 
    padding: 1.5vh 2vw;
    box-shadow: 0 -0.3vh 0.8vh rgba(0, 0, 0, 0.05);
    margin-top: auto;
    font-size: 1.8vh;
}

/* Tablet screens */
@media (max-width: 768px) {
    body,
    html {
        font-size: 2.2vh;
    }
    
    .header-logo {
        height: 6vh;
        right: 4vw;
    }
    
    header {
        padding: 1.2vh 4vw;
        font-size: 2.8vh;
    }
    
    .cart-icon {
        width: 9vw;
        height: 9vh;
        padding: 0 2vw;
        margin-left: 4vw;
    }
    
    #CartLogo {
        font-size: 4.5vh;
        margin-left: 4vw;
    }
    
    .order-section {
        font-size: 2.4vh;
        padding: 2.5vh 4vw;
        margin: 2vh 4vw;
        border-radius: 1.5vw;
    }
    
    .order-section h4 {
        font-size: 2.6vh;
        padding: 1.2vh 3vw;
        margin: 1.5vh 1vw;
        border-radius: 1.5vw;
    }
    
    .button {
        font-size: 2.2vh;
        padding: 1.8vh 3vw;
        margin: 2.5vh 2vw 0 2vw;
    }
}

/* Mobile phones */
@media (max-width: 480px) {
    body,
    html {
        font-size: 2.4vh;
    }
    
    .header-logo {
        height: 5vh;
        right: 5vw;
    }
    
    header {
        padding: 1vh 5vw;
        font-size: 3vh;
    }
    
    .cart-icon {
        width: 12vw;
        height: 10vh;
        padding: 0 2.5vw;
        margin-left: 5vw;
    }
    
    #CartLogo {
        font-size: 5vh;
        padding-left: 8%;
        margin-left: 5vw;
    }
    
    .order-section {
        font-size: 2.5vh;
        padding: 2.5vh 5vw;
        margin: 2vh 5vw;
        border-width: 0.3vw;
        border-radius: 2vw;
    }
    
    .order-section h4 {
        font-size: 2.8vh;
        padding: 1.5vh 4vw;
        margin: 2vh 1.5vw;
        border-width: 0.3vw;
        border-radius: 2vw;
    }
    
    .button {
        font-size: 2.4vh;
        padding: 2vh 4vw;
        margin: 3vh 3vw 0 3vw;
        border-radius: 1.5vw;
    }
    
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5vh;
        padding: 2vh 5vw;
        font-size: 2vh;
    }
}

/* Small phones */
@media (max-width: 360px) {
    .cart-icon {
        width: 14vw;
        height: 9vh;
        margin-left: 4vw;
    }
    
    #CartLogo {
        font-size: 4.5vh;
        padding-left: 10%;
        margin-left: 4vw;
    }
    
    .order-section {
        font-size: 2.3vh;
        padding: 2vh 5vw;
        margin: 1.5vh 4vw;
    }
    
    .order-section h4 {
        font-size: 2.6vh;
        padding: 1.2vh 3.5vw;
        margin: 1.5vh 1vw;
    }
    
    .button {
        font-size: 2.2vh;
        padding: 1.8vh 4vw;
        margin: 2.5vh 2.5vw 0 2.5vw;
    }
}

/* Large screens */
@media (min-width: 1200px) {
    .cart-icon {
        width: 6vw;
        height: 6vh;
    }
    
    #CartLogo {
        font-size: 3.5vh;
    }
    
    .order-section {
        margin: 1.5vh 15vw;
    }
}