body,
html {
    height: 100%;
    background-color: #e5dcc3; 
    color: #333d29; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 2vh;
}

.header-logo {
    position: absolute;
    right: 2vw;
    top: 3.5%;
    transform: translateY(-10%);
    height: 8vh;
    width: auto;
    filter: brightness(100%);
}

header {
    text-align: center;
    background-color: #333d29;
    color: #b6ad90;
    padding: 1.5vh 2vw;
    font-weight: 600;
    font-size: calc(0.87 * 2.5vh);
    box-shadow: 0 0.3vh 1.2vh rgba(0, 0, 0, 0.5);
    
}

.prof-img-left {
    z-index: 10000;
    float: left;
    border-radius: 50%;
    width: 25vw;
    height: 35vh;
    transform: translateY(calc(-10vh + 10%));
    object-fit: cover;
    margin-top: 5vh;
}

.prof-img-right {
    z-index: 10000;
    float: right;
    border-radius: 50%;
    width: 25vw;
    height: 35vh;
    transform: translateY(calc(-10vh + 10%));
    object-fit: cover;
    margin-top: 5vh;
}

.section-right {
    z-index: 1000;
    display: flexbox;
    padding-right: 2%;
    text-align: right;
    background-color: rgba(64, 93, 74, 0.5);
    padding-left: calc(10% + 12vw);
    padding-top: 1.5vh;
    padding-bottom: 3vh;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    font-size: 2.2vh;
    line-height: 1.5;
}

.section-left {
    z-index: 1000;
    display: flexbox;
    padding-left: 2%;
    text-align: left;
    background-color: rgba(64, 93, 74, 0.5);
    padding-right: calc(10% + 12vw);
    padding-top: 1.5vh;
    padding-bottom: 3vh;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 30%;
    font-size: 2.2vh;
    line-height: 1.5;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vw;
    background-color: #b6ad90; 
    color: #333d29;
    padding: 1.5vh 2vw;
    box-shadow: 0 -0.3vh 0.8vh rgba(0, 0, 0, 0.05);
    margin-top: auto;
    font-size: 1.8vh;
}

.parallax {
    background-image: url(imgs/background.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 100%;
    background-position: center;
}

/* Tablet screens */
@media (max-width: 768px) {
    body,
    html {
        font-size: 2.2vh;
    }
    
    .header-logo {
        height: 6vh;
        right: 2.5vw;
    }
    
    header {
        padding: 1.2vh 2vw;
        font-size: 2.8vh;
    }
    
    .prof-img-left,
    .prof-img-right {
        width: 35vw;
        height: 38vh;
        transform: translateY(calc(-5vh + 5%));
        margin-top: 8vh;
    }
    
    .section-right {
        padding-left: calc(5% + 18vw);
        padding-right: 4%;
        font-size: 2.4vh;
        padding-top: 2vh;
        padding-bottom: 3vh;
    }
    
    .section-left {
        padding-right: calc(5% + 18vw);
        padding-left: 4%;
        font-size: 2.4vh;
        padding-top: 2vh;
        padding-bottom: 3vh;
    }
    
    .parallax {
        background-attachment: scroll;
    }
}

/* Mobile phones */
@media (max-width: 480px) {
    body,
    html {
        font-size: 2.4vh;
    }
    
    .header-logo {
        height: 5vh;
        right: 3vw;
    }
    
    header {
        padding: 1vh 3vw;
        font-size: 3vh;
    }
    
    .prof-img-left,
    .prof-img-right {
        width: 40vw;
        height: 28vh;
        transform: translateY(calc(-2vh + 2%));
        margin-top: 12vh;
    }
    
    .section-right {
        padding-left: calc(8% + 20vw);
        padding-right: 4%;
        font-size: 2.5vh;
        padding-bottom: 2vh;
        border-bottom-left-radius: 25%;
        border-top-left-radius: 25%;
    }
    
    .section-left {
        padding-right: calc(8% + 20vw);
        padding-left: 4%;
        font-size: 2.5vh;
        padding-bottom: 2vh;
        border-bottom-right-radius: 25%;
        border-top-right-radius: 25%;
    }
    
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5vh;
        padding: 2vh 3vw;
        font-size: 2vh;
    }
}

/* Small phones */
@media (max-width: 360px) {
    .prof-img-left,
    .prof-img-right {
        width: 35vw;
        height: 25vh;
        transform: translateY(calc(-1vh + 1%));
        margin-top: 14vh;
    }
    
    .section-right {
        padding-left: calc(6% + 18vw);
        padding-right: 3%;
        font-size: 2.3vh;
        border-bottom-left-radius: 20%;
        border-top-left-radius: 20%;
    }
    
    .section-left {
        padding-right: calc(6% + 18vw);
        padding-left: 3%;
        font-size: 2.3vh;
        border-bottom-right-radius: 20%;
        border-top-right-radius: 20%;
    }
}

/* Large screens */
@media (min-width: 1200px) {
    .prof-img-left,
    .prof-img-right {
        width: 20vw;
        height: 38vh;
    }
    
    .section-right {
        padding-left: calc(10% + 10vw);
    }
    
    .section-left {
        padding-right: calc(10% + 10vw);
    }
}