body,
html {
    height: 100%;
    background-color: #e5dcc3;
    color: #333d29;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 2vh;
}

header {
    text-align: center;
    background-color: #333d29;
    color: #b6ad90;
    padding: 1.5vh 2vw;
    font-weight: 600;
    font-size: 2.5vh;
    box-shadow: 0 0.3vh 1.2vh rgba(0, 0, 0, 0.5);
}

.header-logo {
    position: absolute;
    right: 2vw;
    top: 3.5%;
    transform: translateY(-10%);
    height: 8vh;
    width: auto;
    filter: brightness(100%);
}

.product-frame {
    max-width: 30vw;
    margin: 4vh auto;
    border: 1vw solid #b6ad90;
    border-radius: 1vw;
    padding: 1.5vh 2vw;
    box-shadow: 0 0.3vh 0.8vh rgba(0, 0, 0, 0.12);
    background-color: #fff;
    text-align: center;
}

figure {
    margin: 0;
    display: flex;
}

figcaption {
    margin-top: 1vh;
    font-size: 2.2vh;
    font-weight: bold;
}

#product-img {
    width: 100%;
    max-height: 35vh;
    object-fit: cover;
    border-radius: 0.5vw;
}

.product-description {
    font-size: 2vh;
    margin: 1.5vh 0;
}

.product-price {
    font-size: 2.6vh;
    font-weight: bold;
    color: #405d4a;
}

.display-formatting {
    max-width: 40vw;
    margin: 4vh auto;
    padding: 5vh 11vw;
    border-radius: 1vw;
    border: 1vw solid #b6ad90;
    box-shadow: 0 0.8vh 2.5vh rgba(0, 0, 0, 0.5);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

form fieldset {
    border: 0.1vw solid #000000;
    padding: 1vh 2vw;
    margin-top: 2vh;
    border-radius: 0.8vw;
}

form legend {
    font-weight: bold;
    font-size: 2.2vh;
    padding: 0 1vw;
}

label {
    display: block;
    margin-bottom: 1vh;
    font-size: 2vh;
}

input[type="email"],
input[type="password"],
input[type="number"],
select {
    width: 100%;
    padding: 1.5vh 2vw;
    border-radius: 0.5vw;
    border: 0.1vw solid #000000;
    box-sizing: border-box;
    margin-bottom: 1.5vh;
    font-size: 1.8vh;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 1vw;
}

button[type="submit"] {
    margin-top: 2vh;
    padding: 1.8vh 2vw;
    border: none;
    background-color: #405d4a;
    color: #fff;
    font-weight: bold;
    font-size: 2vh;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #324236;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vw;
    background-color: #b6ad90;
    color: #333d29;
    padding: 1.5vh 2vw;
    box-shadow: 0 -0.3vh 0.8vh rgba(0, 0, 0, 0.05);
    margin-top: auto;
    font-size: 1.8vh;
}

.parallax {
    background-image: url(imgs/background.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

/* Tablet screens */
@media (max-width: 768px) {
    body,
    html {
        font-size: 2.2vh;
    }
    
    .header-logo {
        height: 6vh;
        right: 2.5vw;
    }
    
    header {
        padding: 1.2vh 2vw;
        font-size: 2.8vh;
    }
    
    .product-frame {
        max-width: 50vw;
        margin: 3vh auto;
        border-width: 1.5vw;
        padding: 2vh 3vw;
    }
    
    #product-img {
        max-height: 32vh;
    }
    
    figcaption {
        font-size: 2.4vh;
    }
    
    .product-description {
        font-size: 2.2vh;
    }
    
    .product-price {
        font-size: 2.8vh;
    }
    
    .display-formatting {
        max-width: 55vw;
        padding: 3vh 4vw;
        border-width: 1.5vw;
    }
    
    form legend {
        font-size: 2.4vh;
    }
    
    label {
        font-size: 2.2vh;
    }
    
    input[type="email"],
    input[type="password"],
    input[type="number"],
    select {
        font-size: 2vh;
        padding: 1.8vh 2.5vw;
    }
    
    button[type="submit"] {
        font-size: 2.2vh;
        padding: 2vh 2.5vw;
    }
    
    .parallax {
        background-attachment: scroll;
    }
}

/* Mobile phones */
@media (max-width: 480px) {
    body,
    html {
        font-size: 2.4vh;
    }
    
    .header-logo {
        height: 5vh;
        right: 3vw;
    }
    
    header {
        padding: 1vh 3vw;
        font-size: 3vh;
    }
    
    .product-frame {
        max-width: 80vw;
        margin: 3vh auto;
        border-width: 2vw;
        padding: 2.5vh 4vw;
    }
    
    #product-img {
        max-height: 30vh;
    }
    
    figcaption {
        font-size: 2.6vh;
        margin-top: 1.5vh;
    }
    
    .product-description {
        font-size: 2.3vh;
        margin: 2vh 0;
    }
    
    .product-price {
        font-size: 3vh;
    }
    
    .display-formatting {
        max-width: 85vw;
        padding: 3vh 5vw;
        border-width: 2vw;
        gap: 2.5vh;
    }
    
    form fieldset {
        padding: 2.5vh 3vw;
        margin-top: 500vh;
        border-width: 0.2vw;
    }
    
    form legend {
        font-size: 2.5vh;
        padding: 0 1.5vw;
    }
    
    label {
        font-size: 2.3vh;
        margin-bottom: 1.2vh;
    }
    
    input[type="email"],
    input[type="password"],
    input[type="number"],
    select {
        font-size: 2.2vh;
        padding: 2vh 3vw;
        margin-bottom: 2vh;
    }
    
    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 1.5vw;
    }
    
    button[type="submit"] {
        font-size: 2.4vh;
        padding: 2.2vh 3vw;
    }
    
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5vh;
        padding: 2vh 3vw;
        font-size: 2vh;
    }
}

/* Small phones */
@media (max-width: 360px) {
    .product-frame {
        max-width: 90vw;
        padding: 2vh 4vw;
    }
    
    #product-img {
        max-height: 28vh;
    }
    
    .display-formatting {
        max-width: 92vw;
        padding: 2.5vh 5vw;
    }
    
    form fieldset {
        padding: 2vh 3vw;
    }
    
    input[type="email"],
    input[type="password"],
    input[type="number"],
    select {
        font-size: 2vh;
        padding: 1.8vh 3vw;
    }
    
    button[type="submit"] {
        font-size: 2.2vh;
        padding: 2vh 3vw;
    }
}

/* Large screens */
@media (min-width: 1200px) {
    .product-frame {
        max-width: 25vw;
    }
    
    .display-formatting {
        max-width: 28vw;
    }
}